### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [47]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [48]:
gamers = purchase_data.loc[:, ["Gender", "SN", "Age"]]
gamers = gamers.drop_duplicates()
num_players = gamers.count()[0]

pd.DataFrame({"Total_Players": [num_players]})

   Total_Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
average_item_price = purchase_data["Price"].mean()
total_purchase_value = purchase_data["Price"].sum()
purchase_count = purchase_data["Price"].count()
item_count = len(purchase_data["Item ID"].unique())

data_summary = pd.DataFrame({"Number of Unique Items": [item_count],
                            "Average Price" :[average_item_price],
                            "Number of Purchases" : [purchase_count],
                            "Total Revenue": [total_purchase_value]})
data_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [17]:
gender_demo_totals = gamers["Gender"].value_counts()
gender_demo_percents = gender_demo_totals / num_players * 100
gender_demo = pd.DataFrame({"Total Count" : gender_demo_totals, "Percentage of Players" : gender_demo_percents})

gender_demo

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Value")
gender_counts = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

Purchase_Total_Avg = gender_purchase_total / gender_demo["Total Count"]

gender_analysis = pd.DataFrame({"Purchase Count" : gender_counts, "Average Purchase Price" : gender_average,
                               "Total Purchase Value" : gender_demo_totals, "Avg Total Purchase per Person" : Purchase_Total_Avg})

gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,81,4.468395
Male,652,3.017853,484,4.065372
Other / Non-Disclosed,15,3.346000,11,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

gamers["AgeR"] = pd.cut(gamers["Age"], bins, labels=group_names)

age_demo_totals = gamers["AgeR"].value_counts()
percents = age_demo_totals / num_players * 100

age_demo = pd.DataFrame({"Total Count": age_demo_totals, 
                        "Percentage of Players" : percents})

age_demo.sort_index()

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
purchase_data["AgeR"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

total = purchase_data.groupby(["AgeR"]).sum()["Price"].rename("Total Purchase Value")
average = purchase_data.groupby(["AgeR"]).mean()["Price"].rename("Average Purchase Price")
counts = purchase_data.groupby(["AgeR"]).count()["Price"].rename("Purchase Count")

Purchase_Total_Avg = total / age_demo["Total Count"]

ageD = pd.DataFrame({"Purchase Count" : counts, "Average Purchase Price": 
                         average, "Total Purchase Value" : total, 
                         "Avg Total Purchase per Person" : Purchase_Total_Avg})

ageD

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")

TopSpenders = pd.DataFrame({"Total Purchase Value" : total,
                           "Average Purchase Price": average,
                           "Purchase Count": count})

TopSpenders.sort_values("Total Purchase Value", ascending=False).head(5)

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                3.792000               5
Idastidru52                 15.45                3.862500               4
Chamjask73                  13.83                4.610000               3
Iral74                      13.62                3.405000               4
Iskadarya95                 13.10                4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
itemD = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]
                             
total = itemD.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average = itemD.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Item Price")
count = itemD.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
                             
MostPopular = pd.DataFrame({"Total Purchase Value" : total,
                           "Item Price" : average,
                           "Purchase Count" : count})
                             
MostPopular.sort_values("Purchase Count", ascending=False).head(5)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,59.99,4.614615,13
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.230000,12
145,Fiery Glass Crusader,41.22,4.580000,9
132,Persuasion,28.99,3.221111,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.530000,9

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [42]:
MostPopular.sort_values("Total Purchase Value", ascending=False).head(5)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,59.99,4.614615,13
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.230000,12
82,Nirvana,44.10,4.900000,9
145,Fiery Glass Crusader,41.22,4.580000,9
103,Singed Scalpel,34.80,4.350000,8